html {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  width       : 40%;
  margin-left : auto;
  margin-right: auto;
  margin-top  : 40px;
}

.email,
.password,
.login {
  padding      : 15px;
  margin-bottom: 15px;
  border       : 1px solid #ccc;
  border-radius: 30px;
  margin-left  : 10%;
  margin-right : auto;
  width        : 80%;
  box-sizing   : border-box;
  font-weight  : bold;
  font-size    : 16px;
}


h2 {
  margin-top: 30px;
  text-align: center;
}

a {
  text-align     : center;
  margin-left    : 33%;
  margin-right   : auto;
  text-decoration: none;

}

footer {
  text-align: center;
  font-size : 16px;
}

i {
  margin: 20px;
}

hr {
  width: 150px;

}

i,
h2,
a {
  color: #28b4b2;
}

.login {
  background-image: linear-gradient(to left, #28b4b2 , #70c4c3,#8ad0d1);
  
  border          : none;
  color           : white;
}

hr~div {
  border-radius: 50px;
  width        : 30px;
  height       : 30px;
  border       : 1px solid #ccc;
  text-align   : center;
}

.container {
  width           : 80%;
  height          : 1px;
  background-color: #ccc;
  position        : relative;
  margin          : 30px 10%;
}

.circle {
  display: flex;
    justify-content: center;
    /* vertical-align: middle; */
    flex-direction: column;
    width: 30px;
    height: 30px;
    background-color: white;
    border: solid 1px #ccc;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left:calc(50% - 5px);
    text-align: center;
    font-weight: bold;
}

@media (max-width: 767px) {
  form {
    width: 100%;
  }

}